# --- Python General ---
__pycache__/
*.py[cod]
*$py.class

# --- Build / Packaging ---
*.egg-info/
dist/
build/
.eggs/

# --- Tests ---
.pytest_cache/
.coverage
htmlcov/

# --- Entornos Virtuales ---
venv/
.venv/
env/

# --- IDEs y Editores ---
.vscode/
.idea/
*.swp

# --- Logs del Proyecto ---
logs/
!logs/.gitkeep

# --- OS ---
.DS_Store
Thumbs.db

# claude
.claude